.Board
    margin: 1px
    background-color: green
    overflow: auto
    width: 96vh
    width: 96%
    width: 96vw
table
    border-spacing: 1px
    margin: 5px
tr
    background-color: red
td
    border: solid 1px red
